* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    text-decoration: none;
    /* scroll-behavior: smooth; */
}

.container {
    width: 90%;
    margin: auto;
}

.spacer {
    height: 100px;
}

.header-style {
    width: 100%;
    height: auto;
    align-items: center;
    background-color: rgb(229, 232, 235);
    position: fixed;
}

nav.header-nav {
    display: flex;
    padding: 20px;
    justify-content: space-between;
}

.header-nav .profil-img {
    display: flex;
    align-items: center;
}

.header-nav .profil-img img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.header-nav .profil-img h1 {
    margin-left: 10px;
    font-size: 30px;
    font-family: Arial black;
    color: black;
}

.header-nav .profil-img h1 span {
    font-family: Matura MT Script Capitals;
    font-size: 30px;
    color: rgb(5, 148, 231);
}

.header-nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 10px;
}

.header-nav ul li a {
    text-decoration: none;
    color: rgb(19, 18, 18);
    font-weight: bold;
}

.header-nav ul li a:hover {
    color: rgb(5, 148, 231);
}

section .section1 {
    width: 100%;
    height: auto;
}

.detel {
    width: 60%;
}

.detel h1 {
    font-size: 50px;
    margin-bottom: 20px;
    color: rgb(46, 44, 44);
}

.detel h1 span {
    color: rgb(5, 148, 231);
}

.detel p {
    color: rgb(46, 44, 44);
    line-height: 22px;
}

.detel a {
    background: rgb(46, 44, 44);
    padding: 10px 18px;
    text-decoration: none;
    font-weight: bold;
    color: aliceblue;
    display: inline-block;
    margin: 30px 0;
    border-radius: 5px;
    border: 1px solid;
}

.detel a:hover {
    background: none;
    color: rgb(5, 148, 231);
}

.images {
    width: 40%;
    /* margin-top: 10%; */
}

.images img {
    width: 480px;
    height: 480px;
    border-radius: 50%;
}

section .malik {
    width: 100%;
    height: auto;
}

.malik .title {
    font-size: 40px;
    font-weight: 500;
    font-family: sans-serif;
    /* margin-bottom: 10px; */
    text-align: center;
    text-decoration: underline rgb(5, 148, 231);
}

.malik .malik-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.malik .image {
    width: 45%;
}

.malik .image img {
    margin-left: 50px;
    height: 400px;
    width: 400px;
    border-radius: 6px;
    object-fit: cover;
}

.malik .right {
    width: 55%;
}

.malik .right .text {
    font-size: 35px;
    font-family: Arial Black;
    font-weight: 600;
}

.malik .right .text p {
    text-align: justify;
    font-size: 20px;
}

.malik .right a {
    background: rgb(46, 44, 44);
    padding: 10px 18px;
    text-decoration: none;
    font-weight: bold;
    color: aliceblue;
    display: inline-block;
    margin: 30px 0;
    border-radius: 5px;
    border: 1px solid;
    text-decoration: none;
}

.malik .right a:hover {
    background: none;
    color: rgb(5, 148, 231);
}

section .control {
    margin-top: 50px;
}

section .me {
    font-size: 40px;
    font-weight: 500;
    font-family: sans-serif;
    margin-bottom: 10px;
    text-align: center;
    text-decoration: underline rgb(5, 148, 231);
}

section .body {
    margin: 0;
    padding: 0;
    font-family: poppins;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    min-height: 100vh;
    color: #fff;
}

.contain {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    bottom: -75px;
    position: relative;
    Left: 6%;
    width: 250px;
    height: 270px;
    transition: 0.3s ease-out;
    box-shadow: 0.3px 15px rgba(0, 0, 0, 0.7);
}

.card .imgbox {
    position: relative;
    top: 0;
    left: 0;
    height: 80%;
    width: 100%;
}

.card .imgbox img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: block;
    transition: 0.5s;
}

.card .content {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100px;
    padding: 12px;
    background: rgb(221, 200, 153);
    transition: all 0.5s cubic-bezier(.48, -0.28, 0.41, 1.4);
    box-sizing: border-box;
    overflow: scroll;
}

.card:hover .content {
    width: 100%;
    height: 75%;
    left: 0;
    bottom: 0;
}

.content p {
    margin: 10px 0 0;
    padding: 1em 1em;
    transform: translateY(2em);
    line-height: 1.3em;
    transition: 0.3s;
    text-align: justify;
    opacity: 0;
}

.card:hover .content p {
    transform: translateY(0);
    opacity: 1;
}

.som .team {
    border: 1px solid rgb(5, 148, 231);
    width: 300px;
    color: black;

}

.som .team img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    padding: 50px;
    border-radius: 50%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.team {
    align-items: center;
    justify-content: space-between;
}

.som .team {
    display: inline-block;
    align-items: center;
}

.som {
    padding-top: 40px;
}

.som .equipe {
    text-decoration: underline rgb(5, 148, 231);
}

main {
    padding: 3.5rem 0;
}

main .titre {
    text-decoration: underline rgb(5, 148, 231);
}


h1 {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    max-width: 1000px;
    padding: 0 1rem;
    margin-left: auto;
    margin-right: auto;
}

.field {
    display: flex;
    flex-direction: column;
    width: 20rem;
    margin: 0.5rem 0;
}

.field label {
    font-size: 0.9rem;
    margin-bottom: 0.2rem;
    color: black;
}

.field input {
    font-size: 1.1rem;
    width: 70%;
    height: 2.2rem;
    padding-left: 0.5rem;
    border: 2px solid black;
    border-radius: 5px;
}

.field select {
    font-size: 1.1rem;
    width: 12rem;
    height: 2.6rem;
    padding-left: 0.5rem;
    border: 2px solid black;
    border-radius: 5px;
}

.textbox {
    display: flex;
    flex-direction: column;
    width: 30;
    margin: 0.75rem 0;
}

textarea {
    font-size: 1.1rem;
    max-width: 100%;
    height: 5rem;
    max-height: 15rem;
    padding-top: 0.5rem;
    padding-left: 0.5rem;
    border: 2px solid black;
    border-radius: 5px;
}

.confidentialité {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 1rem;
    margin-right: auto;
    margin-left: auto;
}

.submit {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    margin-right: auto;
    margin-left: auto;
}

.submit button {
    cursor: pointer;
    padding: 0.75rem 1.2rem;
    font-size: 1.3rem;
    border: 2px solid rgb(5, 148, 231);
    border-radius: 5px;
}

.last-title {
    font-family: Lucida Calligraphy;
}

.centerdiv {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.centerdiv a {
    height: 90px;
    width: 90px;
    background-color: #f5f6fa;
    border-radius: 50px;
    text-align: center;
    margin: 10px;
    line-height: 100px;
    box-shadow: 1px 4px 2px 2px #dcdde1;
}

.centerdiv a i {
    transition: all 0.3s linear;
}

.centerdiv a:hover i {
    transform: scale(1.4);
}

.fa-instagram {
    color: #e84393;
}

.fa-twitter {
    color: #0097e6;
}

.fa-whatsapp {
    color: #0bdd74;
}

.fa-facebook {
    color: #0051e6;
}